@charset "utf-8";
*{padding: 0;margin: 0;}
body{font-size:12px;width:100%;overflow-x:hidden;}
ul,li,p,img,h1,input{ list-style:none; margin:0; padding:0; border:0; outline:none;}
a{text-decoration:none;}
.bd{ font-weight:bold;}
.fl{ float:left;}
.fr{ float:right;}
.clear{clear:both;}
.bk5{ width:auto; height:5px; clear:both; font-size:0px; overflow:hidden;}
.bk10{ width:auto; height:10px; clear:both; font-size:0px; overflow:hidden;}
.bk15{ width:auto; height:15px; clear:both;}
.space{ display:block; width:10px; height:10px; float:left;}
.divCenter{ width:1120px; margin:0 auto; }
.dn{ display:none;}
.styrel{ position:relative;}